# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Excute Files
*.exe

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Zip Files
*.zip
*.gz

# Out Files
*.out

# video file
*.mp4

# Make File and Excute File
bin/*
build/*

